h3 {
    text-align: center;
    border-bottom:  3px solid  rgb(93, 206, 255);
}

.interventionsAll {
    margin: 0 30px;
}

.intervention {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    border: 3px solid  rgb(93, 206, 255);
    border-radius: 10px;
}

.interventionAlerte {
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    border: 3px solid  rgb(93, 206, 255);
    border-radius: 10px;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        border: 3px solid  rgb(93, 206, 255);
    }
    50% {
        border: 3px solid  rgb(255, 0, 0);
    }
    100% {
        border: 3px solid  rgb(93, 206, 255);
    }
  }

.supply {
    text-align: center;
    width: 70px;
    
    margin: 3px 0;
    padding: 0;
}

.supply-BtnMonth, .supply-BtnWeek {
margin: 0;
width: 100%;
border: none;
background-color:rgb(93, 206, 255);
}

p {
    margin: 0;
}