header {
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0;
  box-shadow: 5px 8px 10px grey;
  background: rgb(200, 231, 239);
  border-radius: 0 0 10px 10px;
  border: 2px solid blue;
  border-top: none;
}

.headerContent {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  height: 80px;
}

.logoAgur {
  content: "";
  position: absolute;
  left: 5px;
  /* max-width: 10px; */
  width: auto;
  margin-top: 5px;
}

.imgLogo {
  height: 70px;
}

nav {
    top: 20%;
    content: "";
    position: absolute;
    right: 25px;
margin: 5px;
}

.titleHeader {
  /* content: "";
    position: absolute; */
    display: flex;
    align-items: center;
  text-align: center;
  margin: 0 auto;
}

.titleHeader h1 {
    font-size: 20px;
    margin: 0;
}

.sousTitre {
    font-size: 15px;
    margin-bottom: 10px;
}
